* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Futura PT";
  }
  :root {
    --second-bg-color: #101010;
    --text-color: white;
    --main-color: #04619f;
  }
  html {
    font-size: 60%;
    overflow-x: hidden;
  }
  body{
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
    height: 100vh;
    color: car(--text-color);

  }
  .header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 4rem 20%;
    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(12px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
#menu-icon{
 font-size: 3.5rem;   
 color: var(--main-color);
 display: none;

}
.logo{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.logo:hover{
    transform: scale(1,1);
 }

 span{
    background-image: linear-gradient(5deg in oklab, #000000, #000000);
    -webkit-text-stroke: .25px #04619f;
    stroke: .25px #04619f;
    background-clip: text;
    color: transparent;
}

.navbar a{
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500
    transition 0.3s ease-in-out
    border-bottom 3px solid transparent
}
.navbar a:hover{
    color:var(--main-color);
    border-bottom: 5px solid var(--main-color);
}
.gradient-btn{
    font-size: 1.8rem;
    padding: 1rem 2rem;
    border-radius: 3rem;
    background-image: linear-gradient(5deg in oklab , #001625, #04619f);
    border: #fff 1.5px solid;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    color: white;
    text-wrap: nowrap;
}
.gradient-btn:hover{
    transform: scale(1.1);
    transform: translate(0, -5px);
}

.gradient-btn:active{
    transform: translate(0, 0);
    transition-duration: 100ms;
}

section{
  min-height: 100vh;
  padding: 10rem 15%;
}

.home{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;
}

.home-content{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.home-content h1{
  font-size: 8rem;
  font-weight: 700;
  margin-top: 1.5rem;
}
.home-content h3{
  margin: 1rem 0;
  font-size: 4rem;
}
.home-content p{
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.8;
}

.home-img img{
  width: 32vw;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
  transition: 0.4s ease-in-out;
}
home-img img:hover{
  box-shadow: 0 0 25px var(--main-color),
              0 0 50px var(--main-color),
              0 0 100px var(--main-color);
}
